<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Update Account</h1>
            <div class="card-body">

                <form method="POST" name="newPersonalData" th:object="${personalData}">

                    <div class="form-group">
                        <label>Edit First Name</label>
                        <input type="text" name="firstName" th:field="${personal_data.firstName}" class="form-control" placeholder="Entry New First Name">
                    </div>

                    <div class="form-group">
                        <label>Edit Last Name</label>
                        <input type="text" name="lastName" th:field="${personal_data.lastName}" class="form-control" placeholder="Entry New Last Name">
                    </div>

                    <div class="form-group">
                        <label>Edit Date Of Birth</label>
                        <input type="date" name="dateOfBirth" th:field="${personal_data.dateOfBirth}" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="telephoneCode">Edit Telephone</label>
                        <select id="telephoneCode" th:field="${personal_data.telephone.telephoneCode.code}">
                            <option name="telephoneCode"
                                    th:each="telephone_code: ${telephone_codes}"
                                    th:value="${telephone_code.code}"
                                    th:text="${telephone_code.code}"
                                    th:field="${personal_data.telephone.telephoneCode.code}">
                            </option>
                        </select>
                        <input minlength="7" maxlength="12" type="tel" name="telephoneNumber" th:field="${personal_data.telephone.telephoneNumber}" class="form-control">
                    </div>

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>